h1{
    color:blue;
    margin-left:550px;
  }
  #image{
      width: 200px;
      margin-bottom: 50px;
      border-radius: 50%;
      margin-left:530px;
  }
  body{
    background-color:cyan;
  }
  p{
    font-family: 'Are You Serious', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Vujahday Script', cursive;
  font-family: 'Waterfall', cursive;
  }
  h2{
    font-family: 'Are You Serious', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Vujahday Script', cursive;
  font-family: 'Waterfall', cursive;
  }